.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-color: rgb(22, 21, 21);
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    color: #f5f8f6;
}

.home_container h1 span {
    color: #060707;
    padding: 0 .2em;
    background: linear-gradient(to right, #39FF14, #00BFFF);
}

.home_container p {
    margin-bottom: 1.5em;
    color: #eff2ee;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}