.corpo {
    background-color: rgb(0, 0, 0);
    padding: 4em;
    width: 100%;
}

.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    background: linear-gradient(to right, #39FF14, #00BFFF);
    border-radius: 10%; 
}

.newproject_container h1 {
    margin-bottom: 0.5em;
    color: #080808;
    text-align: center;
}

.newproject_container p {
    color: #0d0d0d;
    text-align: center;
}