.btn {
    background: linear-gradient(to right, #39FF14, #00BFFF);
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 2em;
    font-weight: bold;
}

.btn:hover {
    color: #FFFF00;
}